/* Homepage */

.homepage-background {
    background-image: url(../../static/images/bg_crosses.png);
    background-position: left;
    background-repeat: repeat-y;   
    background-size: cover;
    transition-duration: 800ms;
    margin-bottom: auto;
}

.homepage-div{
    padding-top: 12vh;
}

.home-circle-div {
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

.gradient-circle {
    height: 68vw;
}

.circle-1 {
    transform: translateX(-40%) translateY(-30%);
}

.circle-2 {
    transform: translateX(90%) translateY(20%);
}

.homepage-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutme-div {
    width: 50%;
    z-index: 1;
}

.aboutme-text {
    font-family: 'GT Walsheim Pro Bold';
    font-size: 96px;
    color: #26262C;
    margin-top: 0;
}

.aboutme-p {
    margin: 0;
}

.description-text {
    font-family: 'GT Walsheim Pro Light';
    font-size: 22px;
    color: #62626F;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0;
}

.photo-uniform {
    width: 450px;
    height: 675px;
    margin-top: 3vh;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* Bottom part */

.white-background {
    position: relative;
    background: #F1F4F6;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    padding-top: 6%;
    padding-bottom: 5em;
    transition-duration: 800ms;
    z-index: 1;
}

.experiences-title {
    font-family: 'GT Walsheim Pro Bold';
    font-size: 70px;
    color: #26262C;
    text-align: center;
    margin-bottom: 4%;
}

.experiences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.experiences > div {
    height: 100%;
    height: 350px;
    width: 230px;
    padding: 30px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 70px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.job-country{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.job-country > div {
    display: flex;
    flex-direction: row;
    font-family: 'GT Walsheim Pro Light';
    font-size: 15px;
    color: #26262C;
    margin: 0;
}

.job-country > div > img {
    height: 25px;
    margin-right: 10px;
}

.job-country > div > p {
    font-family: 'GT Walsheim Pro Light';
    color: #26262C;
    font-size: 20px;
    margin: 0;
}

.job-logo {
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.job-logo > img {
    height: 80px;
}

.job-title{
    font-family: 'GT Walsheim Pro Bold';
    font-size: 20px;
    color: #26262C;
    text-align: center;
    height: 80px;
}

.long-job-title{
    font-family: 'GT Walsheim Pro Bold';
    font-size: 20px;
    color: #26262C;
    text-align: center;
    height: 80px;
}

.job-description {
    font-family: 'GT Walsheim Pro Light';
    font-size: 20px;
    color: #62626F;
    text-align: center;
    height: auto;
}

.job-seek-message{
    font-family: 'GT Walsheim Pro Bold';
    font-size: 20px;
    color: #26262C;
    text-align: center;
    width: 180px;
    margin: auto;
    margin-top: 140px;
}

.footer-comment{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.footer-comment > p {
    width: 70%;
    margin: 0 auto;
    font-family: 'GT Walsheim Pro Light';
    font-size: 14px;
    color: #62626F;
    text-align: center;
}

/* Responsive */

/* Job tiles are aligned 2 by 2*/
@media (max-width: 1542px) {
    .white-background {
        height: 1000px;
    }
}

@media (max-width: 1430px) {
    .homepage-background{
        height: auto;
        background-size: 250%;
        padding-bottom: 10%;
    }
    .home-circle-div{
        height: auto;
    }
    .homepage-div{
        flex-direction: column;
    }
    .aboutme-div{
        width: 100%;
    }
    .photo-uniform{
        margin: 5% auto;
    }

    .gradient-circle{
        height: 80vw;
    }
    .circle-1 {
        transform: translateX(-40%) translateY(-30%);
    }
    .circle-2 {
        transform: translateX(70%) translateY(50%);
    }
}

/* Job tiles are aligned in column */
@media (max-width: 1028px) {
    .white-background {
        height: 1475px;
    }
    .experiences-title {
        margin-bottom: 8%;
    }
    .experiences > div {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 750px) {
    .experiences-title {
        font-size: 9.3vw;
    }
}

@media (max-width: 640px) {
    .aboutme-text{
        font-size: 15.3vw;
    }
    .description-text{
        font-size: 4.5vw;
    }
    .photo-uniform{
        width: 100%;
        height: auto;
    }

    .gradient-circle{
        height: 110vw;
    }
    .circle-1 {
        transform: translateX(-30%) translateY(-10%);
    }
    .circle-2 {
        transform: translateX(40%) translateY(240%);
    }

}

@media (max-width: 400px) {
    .long-job-title{
        font-size: 19px;
    }
}